body{
    font-family: 'Poppins', sans-serif;
}

.flexebel-continer {
    display: flex;
    justify-content: center;
}
.heading{
    font-size: 24px;
    padding-left: 134px;
    padding-right: 134px;
    color: #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.half-width {
    width: 40%;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
}
.half-width img{
    padding-left: 133px;
    width: 75%;
}
.main-title{
    font-size: 52px;
    width: 582px;
    height: 133px;
}
.pra-title{
    color: #3A3A3A;
    font-size: 16px;
}
.preebook {
    display: flex;
    background: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.preebook-text{
    padding-right: 15px;
}
.brands-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}
.logo{
    padding: 34px;
    padding-top: 20px;
}

/* item style */
.section-title {
    color: 
    #3A3A3A;
    font-size: 28px;
    margin-top: 3px;
    text-align: center;
}
.itemes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 83px;
    padding-top: 0;
    padding-bottom: 0;
}
.item{
    width: 329px;
    height: 476px;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
    align-items: center;
}
.item-title {
    font-weight: 900;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 6px;
}
.item-price{
padding: 0%;
margin: 0%;
height: 36px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:
    #AEAEAE;
}
.item-about{
    padding: 0%;
    margin: 0;
}
.see-morelist {
    color:#E02C6D ;
    text-align: right;
    padding-right: 140px;
}